li{
	list-style: none;
}
.list-container {
    width: 800px;
    margin: 50px auto;
    border: 1px solid #000;
    background-color: pink;
}

.list-container>ul {
    display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
}
.list-item{
	margin-top: 10px;
	width: 150px;
	height: 150px;
	background-color: red;
}